@import url("../../App.css");

.large {
  font-size: 2.5rem;
  font-weight: 50;
  padding-top: 10px;
  padding-bottom: 20px;
}

.text-primary {
  color: var(--primary-color);
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form {
  text-align: left;
  padding-bottom: 10px;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  margin: 1.2rem 0;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.signup,
.signin {
  color: var(--primary-color);
}

.btn-primary {
  background: var(--primary-color);
  color: white;
}
