:root {
  --primary-color: rgb(11, 11, 75);
  --light-color: rgba(247, 240, 240, 0.993);
  --primary-font: rgb(24, 6, 122);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 1 rem;
  line-height: 1.6 rem;
  background-color: #fff;
  color: #333;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navbar */

.navbar {
  background-color: var(--primary-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-font);
  opacity: 0.9;
}

h1 {
  color: var(--primary-font);
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 0.45rem;
  margin: 0 0.25rem;
}

/* Landing page */

.x-large {
  font-size: 50px;
}

.landing {
  text-align: center;
  height: 50%;
  width: 80% ;
  margin: 15% 5%;
  padding: 10em 10em 10em 10em;
}

.landing .lead {
  padding: 1em;
}


/* Buttons */
.btn:hover {
  opacity: 0.8;
}

.btn {
  color: var(--primary-font);
  border-radius: 5%;
  display: inline-block;
  background: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

