:root {
  --light-color: rgba(247, 240, 240, 0.993);
  --primary-color: rgb(24, 6, 122);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1 rem;
  line-height: 1.6 rem;
  background-color: #fff;
  color: #333;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navbar */

.navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  height: 4rem;
}

h1 {
  color: var(--primary-color);
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar .logo {
  font-size: 25px;
}
/* Buttons */
.btn:hover {
  opacity: 0.8;
}

.btn {
  color: var(--primary-color);
  display: inline-block;
  background: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

/* Utilities */

.container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3 rem;
}

.my-1 {
  margin-top: 10px;
}
